<br><br>
<div class='container'>
 <div class='row'>
   
   <div class='col-md-12'>
     <div class='card'>
       <div class='card-header'>
         <%= @user.email %> -> <b>Alerts</b>
       </div>
       <div class='card-body'>
         <p>
          <%= @alert_head %>
         </p>
       </div>
     </div>
   </div>
   
   <div class='col-md-12'>
      <br><br>
      <div class='card'>
        <div class='card-header'>
         All Clients
        </div>  
        <div class='card-body'>
          <table class='table table-striped'>
            <th>Business</th>
            <th>Contact</th>
            <th>Website</th>
            <th>Status</th>
          </table>
        </div>
      </div>
   </div>
  </div>
</div>